* {
    margin: 0;
    padding: 0;
  }
  
  .row {
    display: flex;
  }
  
  .Chatbot_head {
    background-color: aqua;
    height: 100vh;
    width: 30%;
  }
  
  .ChatBotTitle_img {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    height: 100vh;
    background-color: #4493b1;
  }
  

  .ChatBotTitle_img img{
    height: 300px;
    width: 300px;
  }
  
  .Chatbot_content {
    width: 70%;
  }
  